<div class="container px-5 mt-3">
  <div class="row mt-3">

    <div>
      <%= flash[:notice] %>
    </div>

    <%= render 'users/list', user: @user %>

    <div class="col-md-8 ml-5 offset-mb-1">
      <h2>Book detail</h2>
      <table>
        <tbody>

            <td>
              <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= link_to user_path(@user) do %>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to book_path(@books) do %>
                  <%= @books.title %>
                <% end %>
            </td>
            <td><%= @books.body %></td>
            <td>
              <%= link_to  edit_book_path(@books.id), class: "btn btn-success btn-sm"  do %>
                Edit
              <% end %>
            </td>
            <td>
              <% if @books.user == current_user %>
                <%=link_to "Destroy", book_path(@books) , method: :delete, class: "btn btn-danger btn-sm"  %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


