<%= flash[:notice] %><br>

<div class="container px-5 px-sm-0">
  <div class="row">

    <%= render 'users/list', user: @books_user ,book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class= "table">
      <tbody>
        <tr>
        <td>
          <%= link_to user_path(@books.user) do %>
            <%= image_tag @books.user.get_profile_image(100,100) %><br>
          <% end %>

            <%= link_to user_path(@books.user) do %>
              <%= @books_user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@books) do %>
            <%= @books.title %>
          <% end %>
        </td>
        <td>
          <%= @books.body %>
        </td>
        <td>
          <% if @books.user == current_user %>
          <%= link_to  edit_book_path(@books.id), class: "btn btn-success btn-sm" do %>
            Edit
          <% end %>
        </td>
        <td>
            <%=link_to "Destroy", book_path(@books) , method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>


